/*********************     ROOT.   *************************/

:root {
    --clr-dark: #111;
    --clr-default: white;
    --clr-light: azure;
    --clr-accent: goldenrod;
}

/********************   INITIALIZE.   *************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
    cursor: pointer;
    user-select: none;
}

/*********************    BODY.  *************************/
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--clr-dark);
    overflow-x: hidden;
}

/*********************    HEADER.  *************************/
header {
    width: 100%;
    margin-bottom: 50px;
    padding: 0px 70px;
    border-bottom: 1px solid var(--clr-accent);
}


h1 {
    color: var(--clr-accent);
    margin: 20px 0px;
}

/*********************    MAIN.  *************************/

main.container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-dark);
}

main .screen {
    min-height: 120px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--clr-accent);
}

form.formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

textarea#text {
    width: 100%;
    min-height: 230px;
    padding: 10px;
    margin: 20px;
    text-align: left;
    word-break: break-word;
    background-color: var(--clr-light);
    border: 1px solid var(--clr-accent);
    font-size: 1em;
    line-height: 1.6em;
    resize: none;
    user-select: text;
    cursor: text;
}

textarea#text::selection {
    color: var(--clr-default);
    background-color: var(--clr-accent);
}

form .controls {
    margin: 20px 0px;
}

.controls div {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}

label {
    color: var(--clr-default);
    margin: 0px 10px;
}

#voices,
#pitch,
#range,
#speed,
#volume {
    width: 100px;
}

input#listen {
    width: 50px !important;
    height: 50px !important;
    font-size: 20px;
    letter-spacing: 1.5px;
    background-color: var(--clr-light);
    border: none;
    border-radius: 50%;
}

.animcontainer {
    display: none;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

span.anim {
    position: relative;
    font-size: 200px;
    line-height: 80px;
    overflow: hidden;
    background-color: var(--clr-accent);
    animation: load 3s infinite;
}

@keyframes load {

    0%,
    100% {}

    20% {
        opacity: 1;
    }

    50% {
        text-shadow: 0px 0px 0px;
    }

    99.99% {
        opacity: 0;
    }
}

span.anim:nth-child(1) {
    animation-delay: 0s;
}

span.anim:nth-child(2) {
    animation-delay: 0.258s;
}

span.anim:nth-child(3) {
    animation-delay: 0.420s;
}

span.anim:nth-child(4) {
    animation-delay: 0.800s;
}

span.anim:nth-child(5) {
    animation-delay: 1.14s;
}

span.anim:nth-child(6) {
    animation-delay: 1.42s;
}
@media (min-width:999px) {
    main.container {
        max-width: 500px;
        border: 5px solid var(--clr-accent);
    }
}